@font-face {
  font-family: "Permanent Marker";
  src: url("/assets/fonts/PermanentMarker-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Handwritten";
  /* src: url("/assets/fonts/AmaticSC-Regular.woff") format("woff"); */
  src: url("/assets/fonts/GrapeNuts-Regular.woff") format("woff");
  /* src: url("/assets/fonts/SedgwickAve-Regular.woff") format("woff"); */
  /* src: url("/assets/fonts/HomemadeApple-Regular.woff") format("woff"); */
  /* src: url("/assets/fonts/Carattere-Regular.woff") format("woff"); */
}
