@font-face {
  font-family: "Permanent Marker";
  src: url("/assets/fonts/PermanentMarker-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Homemade Apple";
  src: url("/assets/fonts/PermanentMarker-Regular.woff2") format("woff");
}
